@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.fira {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
}

.n-link{
  padding: 4px 8px;
  @extend .link-bg;
}

.link-bg:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.link-bg{
  transition: all ease-in-out .3s;
}

.frost {
  -webkit-backdrop-filter:blur(10px);
}

.mocha{
  font-weight: 300;
  color: #86EFAC;
  white-space: nowrap;
}

.tangerine{
  font-weight: 300;
  color: #fd9b2c;
  white-space: nowrap;
}

.elevated{
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  transition: all ease-in-out .3s;
}

.elevated:hover{
  -webkit-box-shadow: 2px 2px 21px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 21px -4px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 21px -4px rgba(0,0,0,0.3);
}